@use "vars";

html {
  color: vars.$color-white;
  font-size: vars.$font-size-5;
  font-family: vars.$font-family;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  // The UI is 100% height so prevent bounce scroll on OSX
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background-color: vars.$color-accent-dim;
  color: vars.$color-white;
}

p {
  font-size: vars.$font-size-6;
  margin-top: vars.$margin-2;
  margin-bottom: vars.$margin-2;
  color: vars.$color-lowgray;
  line-height: 1.3;
}

h1 {
  font-size: vars.$font-size-2;
  margin-bottom: vars.$margin-3;
  font-weight: bold;
}

h2 {
  font-size: vars.$font-size-3;
  margin-bottom: vars.$margin-3;
  font-weight: bold;
}

h3 {
  font-size: vars.$font-size-4;
  margin-bottom: vars.$margin-3;
  font-weight: bold;
}

h4 {
  font-size: vars.$font-size-5;
  margin-bottom: vars.$margin-3;
}

input:focus-visible,
textarea:focus-visible,
*[role="button"]:focus-visible,
button:focus-visible,
.maputnik-toolbar-link:focus-visible,
select:focus-visible {
  color: vars.$color-white;
  outline: vars.$color-accent solid 1px;
  outline-offset: 1px;
}

label:hover {
  color: vars.$color-white;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

a {
  color: white;
}

.hide {
  display: none !important;
}
