*:not(select) {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(242, 241, 236, 0.14);
    padding-left: 2px;
    padding-right: 2px;

    &:hover {
      background-color: rgba(242, 241, 236, 0.24);
    }
  }

  // Styling for Firefox
  scrollbar-width: thin;
  scrollbar-color: rgba(242, 241, 236, 0.14) transparent;
}
